<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.css"/>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i> Blog App</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">Add</a>    
            </div>
        </div>